header {
    width: 100%;
    background-color: white;
    height: 64px;
}
header .content {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.desktop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header nav ul {
    display: flex;
}
header nav li {
    list-style: none;
    padding-left: 2rem;
    text-decoration: none;
}
img .logo {
    height: 32px;
}

.logo-text {
    text-transform: uppercase;
    color: gray;
    font-size: 1.25rem;
}

.logo-text .colmar {
    color: black;
}

@media only screen and (min-width: 481px) {
    .mobile {
        display: none;
    }
}