html {
    font-family: 'Ubuntu', sans-serif;
}
header {
    width: 100%;
    background-color: white;
    height: 4rem;
}
header .content {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.desktop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header nav ul {
    display: flex;
}
header a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}
header nav li {
    list-style: none;
    padding-left: 2rem;
}
img .logo {
    height: 2rem;
}

.logo-text {
    text-transform: uppercase;
    color: gray;
    font-size: 1.6rem;
}

.logo-text .colmar {
    color: black;
}

@media only screen and (min-width: 481px) {
    .mobile {
        display: none;
    }
    .minibox-mobile {
        display: none;
    }
}
/* Banner section */
.main {
    background-color: lightgrey;
    padding-top: 2rem;
}
.banner {
    display: flex;
}
.bantainer {
    padding: 2rem 0.75rem 2rem 1.5rem;
}
.bantainer img {
    width: 100%;
    height: auto;
}
.bantent {
    padding-left: 5rem;
    padding-top: 4rem;
    font-family: 'Ubuntu', sans-serif;
}
.bantent h1 {
    font-size: 4rem;
    font-weight: 750;
    line-height: 5rem;
    height: 9.375rem;
}
.bantent h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}
.button {
    background-color: rgb(42, 40, 40);
    padding: 0.5rem;
    width: 80%;
}
.button p {
    text-align: center;
    font-size: 1.25rem;
}
.button-link {
    color: white;
}
/*Second Section*/
.second {
    display: inline-flex;
    padding-top: 2rem;
}
.information {
    width: 800px;
    padding: 2rem 1.5rem;
}
.information h1 {
    padding-top: 2rem;
    font-size: 2.5rem;
}
.information p {
    padding: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.15rem;
}
.information img {
    width: 50rem;
    height: auto;
}
.side {
    border-left: 1px solid lightgray;
}
.mini {
    display: inline-flex;
    border-bottom: 1px solid lightgray;
    width: 40.625rem;
}
.mini3 {
    display: inline-flex;
    width: 40.625rem;
    background-color: lightgray;
}
.minibox {
    padding: 1rem;
}
.minibox img {
    width: 12.5rem;
    height: auto;
}
.minitext {
    font-size: 1.3rem;
    padding: 1.875rem;
}
/*Courses*/
.learning {
    background-color: rgb(229, 229, 229);
}
.learning h1 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}
.courses {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 4.5rem;
    margin-left: 3.125rem;
}
.boxtent {
    background-color: white;
}
.box {
    width: 23.4375rem;
    height: 30rem;
    padding: 1rem;
}
.box img {
    width: 23.4375rem;
    height: auto;
}
.boxtext {
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}
.boxtext h3 {
    padding-top: 1rem;
    font-size: 1.5rem;
}
.boxtitle {
    padding: .5rem 0;
}
/*Thesis*/
.thesis h1 {
    text-align: center;
    padding: 2rem;
}
.exhibits {
    display: inline-flex;
}
.exvideo {
    width: 50rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}
.exvideo video{
    width: 50rem;
    height: auto;
}
.exvideo h2 {
    font-size: 2rem;
    padding-bottom: .5rem;
}
.exvideo p {
    font-size: 1.25rem;
    padding-bottom: 2rem;
}
.sidesearch {
    display: inline-flex;
    width: 40.625rem;
}
.fisma {
    display: inline-flex;
    background-color: lightgray;
    width: 40.625rem;
}
.sidebox {
    padding: 1rem;
}
.sidebox img {
    width: 12.5rem;
    height: auto;
}
.sidetext {
    padding-left: 1rem;
    padding-bottom: 1.5rem;
}
.sidetext h2 {
    padding-top: 1.75rem;
    font-size: 1.75rem;
}
.sidetext p {
    font-size: 1.25rem;
}
footer {
    border-top: 1px solid lightgray;
    display: flex;
    width: 100%;
}
.license {
    padding-top: 1rem;
    padding-left: 1.5rem; 
    width: 90%;
}
.terms {
    float: right;
    padding-top: 1rem;
}
@media only screen and (max-width: 480px) {
    body {
        margin: 0;
    }
    .desktop, .desktop a, .logo, .logo-text {
        display: none;
    }
    .mobile {
        width: 100%;
    }
    header .content .mobile ul {
        padding-left: 0px;
    }
    .mobile ul {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    header nav ul {
        align-items: center;
        justify-content: space-evenly;
    }
    header nav li {
        padding: 0 1.25rem;
    }

    header .content {
        padding: 0;
    }
    .main {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .bantainer {
        width: 100%;
        padding: 0;
    }
    .bantent {
        padding: 1.5rem 1rem 2rem;
    }

    .bantent h1 {
        font-size: 2rem;
    }
}